grant 
{
	permission java.security.AllPermission;
};

grant
{
	permission java.net.SocketPermission "127.0.0.1:1024-65535","connect";
};

grant codeBase "file:/home/gabrielknight/workspace/GamingFramework/bin/*" {
	permission java.security.AllPermission;
};